@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
        
body{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
        
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}


div.container{
    display: flex;
    flex-wrap: wrap; /*Quebra para próxima linha após 2 divs */
    justify-content: center;
    gap: 20px;
    max-width: 700px;
    margin: 50px auto;
} 


        
div.dado{
    width: 300px;
    height: 350px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: aquamarine;
    background-size: cover; /* imagem inteira */ 
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

div#q1{
    background-image: url("../fotos/EVANESCENCE.jpg");

}

div#q1:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
        
div#q2{
    background-image: url("../fotos/SLEEP\ TOKEN.jpg");
}

div#q2:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

div#q3{
    background-image: url("../fotos/SLIPKNOT.jpg");
}

div#q3:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

div#q4{
    background-image: url("../fotos/SOAD.jpg");
}

div#q4:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

footer a{
    text-align: center;
    text-decoration: none;
    color: white;

}
a:hover{
    text-decoration: underline;
}

footer p{
    text-align: center;
    font-size: 1.2em;
}
a.externo::after {
    content: '\00a0\1F517';
}